<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <app-input label="Nombre" formControlName="name"></app-input>
  <app-input label="Apellido" formControlName="lastName"></app-input>
  <app-select [options]="countries" formControlName="country"></app-select>
  <app-input label="Correo" type="email" formControlName="email"></app-input>
  <app-input label="Contraseña" type="password" formControlName="password"></app-input>
  <app-input label="Confirmar Contraseña" type="password" formControlName="confirmPassword"></app-input>
  <app-button type="submit" [disabled]="registerForm.invalid">Registrar</app-button>
</form>

<p class="login-link">
  <app-link href="/login">¿Ya tienes cuenta? Iniciar sesión</app-link>
</p>
