<ion-header>
  <ion-toolbar>
    <ion-title>Noticias</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToProfile()">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of news">
    <img *ngIf="item.urlToImage" [src]="item.urlToImage" />
    <ion-card-header>
      <ion-card-title>{{ item.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ item.description }}
    </ion-card-content>
  </ion-card>

  <!-- 🔹 Infinite Scroll -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadNews($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más noticias...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
